Repository mit-crpg/OpenMOC, pull requests merged in 2019-05, with the labels that each got.

#406 Fixes and optimizations for explicit_3D ray tracing
  openmoc/plotter.py
  sample-input/pin-cell/pin-cell.py
  src/CPULSSolver.cpp
  src/CPUSolver.cpp
  src/Cmfd.cpp
  src/Cmfd.h
  src/Geometry.cpp
  src/MOCKernel.cpp
  src/Material.cpp
  src/Material.h
  src/Matrix.cpp
  src/Progress.cpp
  src/Progress.h
  src/Solver.cpp
  src/Track.cpp
  src/TrackGenerator.cpp
  src/TrackGenerator3D.cpp
  src/TrackGenerator3D.h
  src/TrackTraversingAlgorithms.cpp
  src/TrackTraversingAlgorithms.h
  src/TraverseSegments.cpp
  tests/test_cmfd_linear_source/test_cmfd_linear_source.py
  tests/test_cmfd_pwr_assembly/test_cmfd_pwr_assembly.py
  tests/test_dump_load_geo_file/test_dump_load_geo_file.py
  tests/test_forward_3D_lattice_CMFD/test_forward_3D_lattice_CMFD.py
  tests/test_modular_domains/test_modular_domains.py
  tests/test_multisim_cmfd/test_multisim_cmfd.py
  tests/test_multisim_materials_cmfd/test_multisim_materials_cmfd.py
  tests/test_multisim_num_groups/test_multisim_num_groups.py
  tests/test_non_uniform_lattice_geometry/test_non_uniform_lattice_geometry.py
  tests/test_ray_tracing_method/results_true.dat
  tests/test_ray_tracing_method/test_ray_tracing_method_3D.py
Labels: 3D, Bug, Performance Optimization, Ray Tracing

#411 Update coverage
  tests/.coveragerc
  tests/travis.sh
Labels: Test Suite

#410 2D ray tracing optimization, unification of .geo file formats
  profile/models/non-uniform-lattice/non-uniform-lattice.cpp
  profile/models/non-uniform-lattice/non-uniform-lattice.geo
  profile/models/run_time_standard/non-uniform-lattice.geo
  profile/models/run_time_standard/run_time_standard.cpp
  profile/models/run_time_standard/simple-lattice-3d.geo
  src/CPUSolver.cpp
  src/CPUSolver.h
  src/Geometry.cpp
  src/Geometry.h
  src/Material.cpp
  src/Progress.cpp
  src/RunTime.cpp
  src/RunTime.h
  src/TrackGenerator.cpp
  src/TrackGenerator3D.cpp
  src/TrackTraversingAlgorithms.cpp
  tests/test_dump_load_geo_file/non-uniform-lattice1.geo
  tests/test_dump_load_geo_file/non-uniform-lattice2.geo
  tests/test_dump_load_geo_file/results_true.dat
  tests/test_geometry_load/test_geometry_load.py
  tests/test_geometry_load_non_uniform_lattice/non-uniform-lattice.geo
  tests/test_geometry_load_non_uniform_lattice/results_true.dat
  tests/test_geometry_load_non_uniform_lattice/test_geometry_load_non_uniform_lattice.py
Labels: Performance Optimization, Ray Tracing

#412 Some work on SWIG maps for pointers
  .gitignore
  config.py
  openmoc/swig/argument_typemaps.i
  openmoc/swig/casting.i
  openmoc/swig/docstring.i
  openmoc/swig/map_to_dict.i
  openmoc/swig/mpi4py.i
  openmoc/swig/numpy.i
  openmoc/swig/numpy_typemaps.i
  openmoc/swig/openmoc.i
  openmoc/swig/swig_typemaps.i
  openmoc/swig/thisown.i
  openmoc/swig/typemaps.i
  setup.py
  tests/unit_tests/test_exponentials.py
Labels: Test Suite

#408 PR Krylov Test
  tests/test_krylov_forward/results_true.dat
  tests/test_krylov_forward/test_krylov_forward.py
Labels: Test Suite

#415 Regression test for transport stabilization
  profile/Makefile
  src/TrackGenerator.cpp
  src/TrackGenerator.h
  src/TrackGenerator3D.cpp
  src/Universe.cpp
  tests/test_transport_stabilization/results_true.dat
  tests/test_transport_stabilization/test_transport_stabilization.py
Labels: Test Suite
